/* SUCCESS CHECKMARK ANIMATION */

.success-checkmark {
    width: 80px;
    height: 115px;
    margin: 0 auto;
    
    .check-icon {
        width: 80px;
        height: 80px;
        position: relative;
        border-radius: 50%;
        box-sizing: content-box;
        border: 4px solid #4CAF50;
        
        &::before {
            top: 3px;
            left: -2px;
            width: 30px;
            transform-origin: 100% 50%;
            border-radius: 100px 0 0 100px;
        }
        
        &::after {
            top: 0;
            left: 30px;
            width: 60px;
            transform-origin: 0 50%;
            border-radius: 0 100px 100px 0;
            animation: rotate-circle 4.25s ease-in;
        }
        
        &::before, &::after {
            content: '';
            height: 100px;
            position: absolute;
            background: #FFFFFF;
            transform: rotate(-45deg);
        }
        
        .icon-line {
            height: 5px;
            background-color: #4CAF50;
            display: block;
            border-radius: 2px;
            position: absolute;
            z-index: 10;
            
            &.line-tip {
                top: 46px;
                left: 14px;
                width: 25px;
                transform: rotate(45deg);
                animation: icon-line-tip 0.75s;
            }
            
            &.line-long {
                top: 38px;
                right: 8px;
                width: 47px;
                transform: rotate(-45deg);
                animation: icon-line-long 0.75s;
            }
        }
        
        .icon-circle {
            top: -4px;
            left: -4px;
            z-index: 10;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            position: absolute;
            box-sizing: content-box;
            border: 4px solid rgba(76, 175, 80, .5);
        }
        
        .icon-fix {
            top: 8px;
            width: 5px;
            left: 26px;
            z-index: 1;
            height: 85px;
            position: absolute;
            transform: rotate(-45deg);
            background-color: #FFFFFF;
        }
    }
}

@keyframes rotate-circle {
    0% {
        transform: rotate(-45deg);
    }
    5% {
        transform: rotate(-45deg);
    }
    12% {
        transform: rotate(-405deg);
    }
    100% {
        transform: rotate(-405deg);
    }
}

@keyframes icon-line-tip {
    0% {
        width: 0;
        left: 1px;
        top: 19px;
    }
    54% {
        width: 0;
        left: 1px;
        top: 19px;
    }
    70% {
        width: 50px;
        left: -8px;
        top: 37px;
    }
    84% {
        width: 17px;
        left: 21px;
        top: 48px;
    }
    100% {
        width: 25px;
        left: 14px;
        top: 45px;
    }
}

@keyframes icon-line-long {
    0% {
        width: 0;
        right: 46px;
        top: 54px;
    }
    65% {
        width: 0;
        right: 46px;
        top: 54px;
    }
    84% {
        width: 55px;
        right: 0px;
        top: 35px;
    }
    100% {
        width: 47px;
        right: 8px;
        top: 38px;
    }
}




.reverse-spinner {
    position: absolute;
    margin: 0;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    
    height: 100px;
    width: 100px;
    border: 4px solid transparent;
    border-top-color: #71D400;
    border-left-color: #71D400;
    border-radius: 50%;
    -webkit-animation: spin 0.5s linear infinite;
    animation: spin 0.5s linear infinite;
}

.reverse-spinner::before {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    content: "";
    border: 4px solid transparent;
    border-top-color: #CCFF00;
    border-left-color: #CCFF00;
    border-radius: 50%;
    -webkit-animation: spinBack 0.5s linear infinite;
    animation: spinBack 0.5s linear infinite;
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


@-webkit-keyframes spinBack {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(-720deg);
        transform: rotate(-720deg);
    }
}

@keyframes spinBack {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(-720deg);
        transform: rotate(-720deg);
    }
}

#spinnerBG {
    display: block;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10001;
    width: 100%;
    min-width: 100%;
    height: 100%;
    min-height: 100%;
    text-align: center;
}

.spinnerContainer {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(41,41,41,0.5);
    z-index: 101;
    width: 100%;
    min-width: 100%;
    height: 100%;
    min-height: 100%;
    text-align: center;
}

.available {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.3s, opacity 0.3s linear;
  }


  $radioSize: 22px;
$radioBorder: #D1D7E3;
$radioActive: #5D9BFB;

.radio {
    margin: 16px 20px 16px 10px;
    display: inline-block;
    cursor: pointer;
    input {
        display: none;
        & + span {
            line-height: $radioSize;
            height: $radioSize;
            padding-left: $radioSize;
            display: inline-block;
            font-size: 15px;
            position: relative;
            &:not(:empty) {
                padding-left: $radioSize + 5;
            }
            &:before,
            &:after {
                content: '';
                width: $radioSize;
                height: $radioSize;
                display: inline-block;
                border-radius: 50%;
                left: 0;
                top: 0;
                position: absolute;
            }
            &:before {
                background: $radioBorder;
                transition: background .2s ease, transform .4s cubic-bezier(.175, .885, .32, 2);
            }
            &:after {
                background: #fff;
                transform: scale(.78);
                transition: transform .6s cubic-bezier(.175, .885, .32, 1.4);
            }
        }
        &:checked + span {
            &:before {
                transform: scale(1.04);
                background: $radioActive;
            }
            &:after {
                transform: scale(.4);
                transition: transform .3s ease;
            }
        }
    }
    &:hover {
        input {
            & + span {
                &:before {
                    transform: scale(.92);
                }
                &:after {
                    transform: scale(.74);
                }
            }
            &:checked + span {
                &:after {
                    transform: scale(.4);
                }
            }
        }
    }
}

@keyframes modalBackgroundIn {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes modalBackgroundOut {
    from {opacity: 1;}
    to {
        opacity: 0;
        visibility: hidden;
    }
}
@keyframes modalContentIn {
    from {top: -100vh;}
    to {top: 0;}
}
@keyframes modalContentOut {
    from {top: 0;}
    to {top: -100vh;}
}
@keyframes login {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@keyframes cartUpwardIn {
    from {top: -60px;}
    to {top: -30px;}
}
@keyframes cartUpwardOut {
    from {top: -30px;}
    to {top: -60px;}
}
@keyframes cartDownwardIn {
    from {bottom: -60px;}
    to {bottom: -30px;}
}
@keyframes cartDownwardOut {
    from {bottom: -30px;}
    to {bottom: -60px;}
}
